# POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=

# API
API_VERSION=

# FASTAPI
FASTAPI_NAME=
FASTAPI_VERSION=
FASTAPI_PASSWORD=

# DEBUGGER
DEBUG=

# PATHs
PATH_TEMPLATES=
PATH_DOC=
PATH_DB=

# OPENAI 
OPENAI_API_KEY=

# MODELS
CHAT_NAME_MODEL=
CHAT_TEMPERATURE=
CHAT_SEED=
EMBEDDING_NAME_MODEL=
EMBEDDING_SIZE_MODEL=